
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"></h3>
            </div>
                
            <ul class="list-group">
                <li class="list-group-item">
                    <strong></strong>
                    <span class="pull-right">
                        <a href="#" class="btn btn-info btn-xs"></a> &nbsp;
                        <a href="#" class="btn btn-default btn-xs"></a> &nbsp;
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>